{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html class="csstransforms csstransforms3d csstransitions js flexbox flexboxlegacy canvas canvastext postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache">

<head>
    <title>Teste Web - Brasil 317</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" media="all" rel="stylesheet" type="text/css">
    <meta charset="utf-8" />
    <meta name="author" content="Brasil317 <recrutamento@brasil317.com.br>" />
    <meta name="description" content="Teste para vaga Desenvolvedor Web" />
    <meta name="version" content="1.0" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/images/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/images/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/images/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/images/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/images/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/images/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/images/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/images/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/images/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/images/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/images/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    {% render_bundle 'main' 'css' %}
    {% block extra_css %}{% endblock extra_css %}
</head>

<body class="page-header-fixed bg-3" style="">
    <div class="modal-shiftfix">
        <div id="mainMenu" style="overflow: visible; " hovered="false" class="header-menu navbar navbar-fixed-top scroll-hide">
            <div class="container-fluid top-bar">
                <div class="pull-right">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown user hidden-xs">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><img width="34" height="34" src="{% static 'assets/images/default_avatar.png' %}" class="profile-avatar">Usuário<b class="caret"></b></a><span class="header-divider"></span></li>
                        <li class="dropdown messages hidden-xs"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span aria-hidden="true" class="fa fa-wrench"></span></a></li>
                        <li class="dropdown messages hidden-xs"><a class="dropdown-toggle" data-toggle="dropdown" href="#" alt="Configurações" title="Configurações"><span aria-hidden="true" class="fa fa-cog"></span></a><span class="header-divider"></span></li>
                    </ul>
                </div><a class="logo" href="http://brasil317.com.br">Brasil317</a></div>
            <div class="container-fluid main-nav clearfix">
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="dropdown"><a class="" data-toggle="dropdown" href="#"><span class="fa fa-database" style="font-size:27px;"></span>Database<b class="caret"></b></a></li>
                        <li class="dropdown"><a class="" data-toggle="dropdown" href="#"><span class="fa fa-lightbulb-o" style="font-size:30px;"></span>Inteligência Operacional<b class="caret"></b></a></li>
                        <li class="dropdown"><a class="current" data-toggle="dropdown" href="#"><span class="fa fa-search" style="font-size:28px;"></span>Monitoramento<b class="caret"></b></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid main-content">
            {% block content %}
                
            {% endblock content %}
        </div>
    </div>
    {% render_bundle 'main' 'js' %}
    {% block extra_js %}{% endblock extra_js %}
</body>

</html>