{% extends "base.html" %}

{% block content %}
<div class="page-title" id="pageReportProductPerformance">
	<h1>Performance dos Produtos</h1>
</div>
<div class="row" id="scrollElement">
    <div class="col-lg-12">
        <div class="widget-container fluid-height clearfix">
            <div class="heading"><i class="fa fa-area-chart"></i>Veja abaixo os seus Produtos com o percentual de diferença entre a média do seu preço de seus concorrentes<a href=""><i class="fa fa-download print-button" data-toggle="tooltip" data-placement="left" title="" data-original-title="Exportar para Excel" style="color: #60c560; cursor: pointer;"></i></a></div>
            <div class="widget-content">
                <div class="panel-group">
                    <div class="panel">
                        <div class="panel-body">
                            <table id="dataTableProductPerformance" class="table table-bordered table-striped dataTable no-footer" role="grid">
                                <thead>
                                    <tr role="row">
                                        <th style="width: 70px;" class="sorting">ID</th>
                                        <th style="width:auto !important;" class="sorting_asc" aria-sort="ascending">Produto</th>
                                        <th style="width:100px !important;" class="sorting">Fabricante</th>
                                        <th style="width:100px !important;" class="sorting">Marca</th>
                                        <th style="width:110px !important;" class="sorting">Incidência</th>
                                        <th style="width:85px !important;" class="sorting">Vitória</th>
                                        <th style="width:120px !important;" class="sorting">Nossa média</th>
                                        <th style="width:165px !important;" class="sorting">Média concorrência</th>
                                        <th style="width:105px !important;" class="sorting">Diferença</th>
                                        <th style="width:50px !important; color:#60c560;" class="sorting_disabled" rowspan="1" colspan="1">Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--
                                    <tr role="row" class="odd">
                                        <td>75653</td>
                                        <td class="sorting_1">ASPIRADOR PO/LIQUIDO, POTENCIA 1400W, TENSAO 220V, 170M3/H ASPIR, RESERVATORIO 21L</td>
                                        <td>PIRAPÓ</td>
                                        <td>PIRAPÓ</td>
                                        <td>143</td>
                                        <td>58</td>
                                        <td>R$ 412,78</td>
                                        <td>R$ 365,00</td>
                                        <td style="text-align: center;">
                                            <h4 class="margin-zero"><span class="margin-zero label label-warning"><strong>-11%</strong></span></h4></td>
                                        <td style="text-align: center;"><a class="table-actions see-results" href="" alt="Analisar incidências" title="Analisar incidências"><i class="fa fa-search"></i></a></td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td>74456</td>
                                        <td class="sorting_1">BARBEADOR C/ 1 LAMINA SEM FITA LUBRIFICANTE</td>
                                        <td>BOABARBA</td>
                                        <td>BOABARBA</td>
                                        <td>332</td>
                                        <td>247</td>
                                        <td>R$ 0,83</td>
                                        <td>R$ 0,87</td>
                                        <td style="text-align: center;">
                                            <h4 class="margin-zero"><span class="margin-zero label label-success"><strong>6%</strong></span></h4></td>
                                        <td style="text-align: center;"><a class="table-actions see-results" href="" alt="Analisar incidências" title="Analisar incidências"><i class="fa fa-search"></i></a></td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td>734324</td>
                                        <td class="sorting_1">BARBEADOR C/ 2 LAMINAS COM FITA LUBRIFICANTE</td>
                                        <td>BOABARBA</td>
                                        <td>BOABARBA</td>
                                        <td>252</td>
                                        <td>97</td>
                                        <td>R$ 1,98</td>
                                        <td>R$ 1,46</td>
                                        <td style="text-align: center;">
                                            <h4 class="margin-zero"><span class="margin-zero label label-danger"><strong>-26%</strong></span></h4></td>
                                        <td style="text-align: center;"><a class="table-actions see-results" href="" alt="Analisar incidências" title="Analisar incidências"><i class="fa fa-search"></i></a></td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td>73443</td>
                                        <td class="sorting_1">BARBEADOR C/ 2 LAMINAS SEM FITA LUBRIFICANTE</td>
                                        <td>BOABARBA</td>
                                        <td>BOABARBA</td>
                                        <td>125</td>
                                        <td>77</td>
                                        <td>R$ 0,99</td>
                                        <td>R$ 1,12</td>
                                        <td style="text-align: center;">
                                            <h4 class="margin-zero"><span class="margin-zero label label-success"><strong>12%</strong></span></h4></td>
                                        <td style="text-align: center;"><a class="table-actions see-results" href="" alt="Analisar incidências" title="Analisar incidências"><i class="fa fa-search"></i></a></td>
                                    </tr>
                                    -->
                                </tbody>
                            </table>
                            <div class="bottom">
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/3.0.1/nunjucks.min.js"></script>

<script type="text/javascript">
    var dataTable;
    $.fn.dataTable.render.ellipsis = function () {
        return function ( data, type, row ) {
            return type === 'display' && data !== undefined && data.length > 10 ?
                data.substr( 0, 10 ) +'…' :
                data;
        }
    };

    $(document).ready(function() {
        nunjucks.configure({ autoescape: true });
        var percentRenderer = function (data, type, row) {
            var labelType = 'success';
            if (parseInt(data) < -20) {
                labelType = 'danger';
            } else if (parseInt(data) <= 0) {
                labelType = 'warning';
            }

            var context = {
                labelType: labelType,
                data: data
            };

            {% verbatim %}
            var template = "<h4 class=\"margin-zero\"><span class=\"margin-zero label label-{{ labelType }}\"><strong>{{ data }}%</strong></span></h4>";
            {% endverbatim %}

            return nunjucks.renderString(template, context);
        };

        dataTable = $('#dataTableProductPerformance').DataTable({
            "serverSide": true,
            "responsive": true,
            "ajax": "/api/produtos/?format=datatables",
            "order": [[1, "asc"]],
            "columns": [
                {"data": "id", "width": "70px"},
                {
                    data: "nome",
                    width: "100px",
                    render: $.fn.dataTable.render.ellipsis()
                },
                {
                    data: "fabricante",
                    name: "marca__fabricante__nome",
                    width: "110px",
                    render: $.fn.dataTable.render.ellipsis()
                },
                {
                    data: "marca",
                    name: "marca__nome",
                    width: "85px",
                    render: $.fn.dataTable.render.ellipsis()
                },
                {"data": "incidencia", "width": "120px", "searchable": false},
                {"data": "n_vitorias", "width": "165px", "searchable": false},
                {
                    data: 'media_nossa',
                    render: $.fn.dataTable.render.number('.', ',', 2, 'R$ '),
                    width: '105px',
                    searchable: false
                },
                {
                    data: 'media_concorrencia',
                    render: $.fn.dataTable.render.number('.', ',', 2, 'R$ '),
                    width: '50px',
                    searchable: false
                },
                {
                    "data": "diferenca",
                    "className": "text-center",
                    render: percentRenderer,
                    searchable: false
                },
                {
                    "data": null,
                    "className": "text-center"
                }
            ],
            "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": "<a class=\"table-actions see-results\" href=\"\" alt=\"Analisar incidências\" title=\"Analisar incidências\"><i class=\"fa fa-search\"></i></a>"
            }]
        });
    });
</script>
    
{% endblock extra_js %}
